<h1><%= dgettext("orders", "new") %></h1>
<div class="row row-cols-auto">
	<div class="col-sm-3 p-3 border bg-light">
		<%= render "form.html", Map.put(assigns, :action, Routes.order_path(@conn, :create)) %>
	</div>
</div>
