<main role="main" class="container">
	<%= unless is_nil( msg = get_flash(@conn, :info)) do %>
    	<p class="alert alert-info" role="alert"><%= msg %></p>
  	<% end %>
  	<%= unless is_nil(msg = get_flash(@conn, :error)) do %>
    	<p class="alert alert-danger" role="alert"><%= msg %></p></p>
  	<% end %>
<%= @inner_content %>
</main>
