<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <link rel="shortcut icon" type="image/x-icon" href="<%= Routes.static_path(@conn, "/favicon.ico") %>" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Fourty", suffix: " · Phoenix" %>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Fourty</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent" phx-update="ignore">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Admin</a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><%= link(dgettext("clients","clients"), to: Routes.client_path(@conn, :index), class: "dropdown-item") %></li>
                  <li><%= link(dgettext("projects","projects"), to: Routes.project_path(@conn, :index), class: "dropdown-item") %></li>
                  <li><%= link(dgettext("accounts","accounts"), to: Routes.account_path(@conn, :index), class: "dropdown-item") %></li>
                  <li><%= link(dgettext("orders","orders"), to: Routes.account_path(@conn, :index), class: "dropdown-item") %></li>
                  <!--li><#= link(dgettext("users","users"), to: Routes.user_path(@conn, :index), class: "dropdown-item") %></li>
                  <li><#= link(dgettext("users","rates"), to: Routes.rate_path(@conn, :index), class: "dropdown-item") %></li-->
                  <li><hr class="dropdown-divider"></li>
                  <%= if function_exported?(Routes, :live_dashboard_path, 2) do %>
                    <li><%= link("LiveDashboard", to: Routes.live_dashboard_path(@conn, :home), class: "dropdown-item", target: "_blank", rel: "noopener") %></li>
                  <% end %>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <%= @inner_content %>
  </body>
</html>
