<div class="container">
	<h1><%= dgettext("clients","edit client") %></h1>
	<div class="row row-cols-auto">
		<div class="col-sm-3">
			<%= render("form.html", Map.put(assigns, :action, Routes.client_path(@conn, :update, @client))) %>
		</div>
	</div>
</div>
