<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <%= dgettext("errors","error_alert") %>
    </div>
  <% end %>

  <%= my_label(f, "clients", :name) %>
  <%= my_text_input(f, :name) %><br />
  <%= error_tag(f, :name) %>

  <%= my_submit() %>
  <%= my_back_link(Routes.client_path(@conn, :index)) %>
<% end %>
