<div class="container">
	<h1><%= dgettext("clients","add client") %></h1>
	<div class="row row-cols-auto">
		<div class="col-sm-3">
			<%= render "form.html", Map.put(assigns, :action, Routes.client_path(@conn, :create)) %>
		</div>
	</div>
</div>