<h1><%= dgettext("clients","show") %></h1>
<div class="row row-cols-auto">
	<div class="col-sm-3 p-3 border bg-light">
	  	<%= my_label("clients", "label") %>
  		<%= my_text_value(@client.label) %><br />
  		<%= my_action("clients", "edit", Routes.client_path(@conn, :edit, @client)) %>
		<%= my_action("clients", "index", Routes.client_path(@conn, :index)) %>
	</div>
</div>