<h1>Edit Work item</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.work_item_path(@conn, :update, @work_item)) %>

<span><%= link "Back", to: Routes.work_item_path(@conn, :index) %></span>
