<h1><%= dgettext("work_items", "new") %></h1>
<div class="row row-cols-auto">
	<div class="col-sm-3 p-3 border bg-light">
		<%= if @adm_only do %>
			<%= render "form.html", Map.put(assigns, :action, Routes.work_item_user_path(@conn, :create, @user_id)) %>
		<% else %>
			<%= render "form.html", Map.put(assigns, :action, Routes.work_item_path(@conn, :create)) %>
		<% end %>
	</div>
</div>
