<h1><%= dgettext("deposits", "edit") %></h1>
<div class="row row-cols-auto">
	<div class="col-sm-3 p-3 border bg-light">
		<%= render "form_edit.html", Map.put(assigns, :action, Routes.deposit_path(@conn, :update, @deposit)) %>
	</div>
</div>
